@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Space Grotesk', sans-serif;
}

/* button component */
button{
    width: 140px;
    height: 40px;
    background: #002333;
    color: white;
    border-radius: 7px;
    outline-style: none;
    border-style: none;

}

nav{
    display: flex;
    align-items: center;
    padding: 0px 10px;
    height: 75px;

}

.nav__name{
    flex: 1;
    margin-left: 36px;
    letter-spacing: 10px;
}

ul{
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    width: 30%;
    font-size: 18px;
    margin-right: 36px;
}



header{
   position: relative;
}

.header__text{
    width: 310px;
    height: 240px;
    background: white;
    position: absolute;
    top: 173px;
    left: 74px;
    padding: 10px 20px;
    border-radius: 10px;
    box-shadow: 3px 5px 6px #ccc;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.header__text > h2{
    font-weight: bolder;
    font-size: 20px;
    line-height: 24px;
    color: #002333;
}

.header__text > p {
    font-size: 14px;
    line-height: 15px;
    letter-spacing: 0.24px;
    color: #002333;
}

.header__text > .header__time{
    font-size: 14px;
    line-height: 17px;
    color: #868686;
    font-weight: bold;
}

.header__price{
    line-height: 20px;
    color: #002333;
    font-size: 17px;
}

#header__button{
    margin: 10px auto 0px auto;
    
}

/* First Section */
.live__courses{
    height: 25vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 74px;
}

/* firstSection Container2 */

.live__sessions > h1{
    margin-left: 37px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.sessions{
    /* background: whitesmoke; */
    padding: 0 36px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    height: 600px;
    
}

.session__card{
    max-width: 270px;
    height: fit-content;
    /* background: red; */
    margin-top: 15px;
}

.session__card > .session__time{
    font-size: 14px;
    line-height: 17px;
    color: #868686;
    font-weight: bold;
    margin: 10px 0;
}

.session__card > .session__price{
    font-size: 17px;
    color: #002333;
    line-height: 17px;
    font-weight: bold;
}

/* give section1 height and prolly width */

/* SECTION2 */

.section2{
    height: max-content;
    padding: 50px 10px;
}

.gura__features{
    margin-top: 100px;
    display: flex;
    justify-content: space-around;
}

.feature> img{
    width: 50px;
    height: 50px;
    object-fit: contain;
}

.feature{
    display: flex;
    justify-content: space-evenly;
    height: 20vh;
}

.feature > .about{
    margin-left: 20px;
}

.feature > .about > .about__heading{
    line-height: 20px;
    font-size: 17px;
    font-weight: bolder;
    color: #002333;
}

/* Section3 */


.section3{
    /* background: whitesmoke; */
    height: max-content;
}

.section3 > h1{
    font-size: 23px;
    line-height: 27px;
    color: #002333;
    margin-left: 37px;
    margin-bottom: 20px;
}

.staff__pick{
    height: 340px;
    width: 1370px;
    border: 1px solid lightgray;
    margin: 0 auto ;
    display: flex;
    padding: 16px 0 17px 17px;
}

.staff__pick > img{
    width: 540px;
    height: 305px;
}

.staff__info{
    width: 450px;
    height: 55px;
    margin-left: 30px;
}

.staff__info > * {
    margin-bottom: 15px;
}

.staff__info > .time{
    font-size: 14px;
    line-height: 17px;
    color: #868686;
    font-weight: bold;
}

.staff__info > h2{
    font-size: 23px;
    line-height: 27px;
    color: #002333;
}

.teaching__section{
    display: flex;
    align-items: center;
    padding: 0 84px;
    height: 20vh;
}

#start__teaching{
    font-size: 18px;
}

.teaching__info{
    flex: 1;
}

hr{
    background: lightgray;
    border-top: .2px solid lightgray;
    overflow-x: hidden;
}

/* horizontal rule */
.line1{
    margin-top: 70px;
}

/* Footer */

footer{
    padding: 40px 0;
    
}

footer > div{
    margin-left: 10px;
    margin-bottom: 10px;
    width: 300px;
    /* background: red; */
    display: flex;
    justify-content: space-between;
}

.base{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.footer__header{
    font-size: 2rem;
    flex: 1;
}

.footer__year{
    margin-right: 10px;
}

/* Normal laptops */
@media screen and (max-width: 1024px ){
    /* nav */
    .nav__links{
        width: 60%;
    }
    .nav__links > div >  img{
        transform: rotate(90deg);
        margin-left: 7px;
    }
}

/* Tablets */
@media screen and (max-width: 768px){
    /* header Text */
    .header__text{
        display: none;
        /* scale: .4; */
    }

    hr{
        display: none;
    }

    /* section 2, gura features */
    .section2 > .gura__features{
        flex-wrap: wrap;
        margin-top: -10px;
        margin-bottom: 20px;
    }

    /* staff__pick */
    .staff__pick{
        flex-direction: column;
        height: fit-content;
        border: none;
        margin-bottom: 40vh;
        
    }
    
    .staff__info{
        /* display: none; */
        margin-top: 20px;
    }
}

/* Large phones below */
@media screen and (max-width: 425px){
    .nav__links{
        display: none;
    }

    .live__courses{
        margin-left: 20px;
    }

    .sessions{
        margin-bottom: 85vh;
    }

    /* staff pick */
    .staff__pick > img{
        width: 100%;  
        max-width: 300px;
        object-fit: contain;
    }

    .staff__pick > .staff__info > * {
        max-width: 90%;
        margin: 0 auto;
        margin-right: 30vh;
    }
   
    .staff__info > .time{
        margin-left: 20px;
    }

  .teaching__section{
      flex-direction: column;
  }

  .teaching__section > button{
      margin: 40px 0 ;
      padding: 20px;
  }

  footer{
      margin-top: 20vh;
  }

}